# ALL blacklisted
*

# DIRs whitelisted
!Common/
!Common/**/*
!codes/
!codes/**/
!data_files/

# BLACKLIST hidden directories
**/.*/

# TYPEs whitelisted
!**/*.pro
!**/*.py
!**/*.ipynb
!**/*.md
!**/*.yml
!**/*.txt

# FILEs whitelisted
!README.md
!requirements.txt
!.gitignore
